/*   Actividades   */
hr{
    color: aqua;
}
.mainacts{
    background-color: $primary-background;
    grid-area: acts; 
    h1{
        color: $color-titulos;
        width: 500px;
        height: 250px;
        font-size: 65px;
        padding-top: 30px;
        padding-left: 35px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    .infoact{
        padding-left: 30px;
        padding-top: 30px;
        color: aliceblue;
    }
    div h4{
        font-size: 35px;
    } 
    @mixin tamaños($alto, $margen){
        height: $alto;
        margin-top: $margen;
    }
    .foto-gap{
        @include tamaños(200px, 25px);
        background-repeat: no-repeat;
        border-radius: 8px;
        background-image: url(../img/gap\ actividades\ desktop.jpg);
    }
    .foto-crossfit{
        @extend .foto-gap;
        background-image: url(../img/crossfit\ atividades\ desktop.jpg);
    }
    .foto-gimnasio{
        @extend .foto-gap;
        background-image: url(../img/musculacion\ actividades\ desktop.jpg);
    }
    .foto-boxeo{
        @extend .foto-gap;
        background-image: url(../img/boxeo\ actividades\ resp.jpg);
    }
} 

/*    Movil   */

@media (max-width: 576px){
    .mainacts{
        background-color: black;
        display: grid;
        grid-template-columns: 100%;
        grid-area: acts;
        justify-items: center;
        h1 {
            color: rgb(129, 129, 129);
            /* width: 500px; */
            height:fit-content;
            font-size: 40px;
            padding-top: 30px;
            padding-left: 35px;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left;
        }
        .ContenedorAnimacion{
            overflow-x: hidden;
            max-width: $full-width;
        }
        .row{
            margin-bottom: 10%;
            div{
                h4{
                font-size: 40px;
                text-align: center;
                margin-bottom: 5px;
                }
            }     
        }
        .infoact{
            padding-left: 0;
            padding-top: 0;
            color: aliceblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .infoact__descripcion{
                text-align: center;
                font-size: 20x;
            }
            p{
                text-align: center;
            }
        } 
    }
       
}