@font-face {
    font-family: "Montserrat-regular";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);    
}
@font-face {
    font-family: "Montserrat-bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);    
}

*{font-family: "Montserrat";}
body{
    margin: 0;
    margin-bottom: 0px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "textoe textoe textoe textoe"
    "acts acts acts acts"
    "multimedia multimedia multimedia multimedia"
    "footer footer footer footer";
}