/*   Header   */
header{
    background-color: rgb(227, 227, 227);
    background-size: cover;
    display: flex;
    width: 100%;
    grid-area: header;
    justify-content: space-between;
    #logoprincipal{
    
        height: 130px;
        padding: 10px;
        margin-left: 20px;
    }
}

.LogoWhatsapp{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    animation-name: logo_whatsapp;
    animation-iteration-count: 3;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-delay: 0;
    box-shadow: 5px;
    transition: all 0.5s;
    &:hover{
        transform: scale(1.5)
    }
}
@keyframes logo_whatsapp{
    0%{transform: scale(1);}
    12%{transform: scale(1.12);}
    25%{transform: scale(1.25);}
    37%{transform: scale(1.37);}
    50%{transform: scale(1.5);
        filter: brightness(1.75);}
    62%{transform: scale(1.37);}
    75%{transform: scale(1.25);}
    88%{transform: scale(1.12);}
    100%{transform: scale(1);
        filter: brightness(0,8);}

}
/*   Footer   */

footer{
    background-color: $primary-background;
    padding: 10px;
    color: rgb(193, 193, 193);
    margin-top: 0;
    grid-area: footer;
}
.Footer{
    display: flex;
    justify-content:space-between;
    .LogosRedes{
        padding-left: 5%;
        .LogoInstagram{
            width: 40px;
        }
    }

}  

@media (max-width: 576px){
    .header{
        grid-template-columns: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    body{
        width: 100%; 
        display: grid;
        grid-template-columns: 1fr;
    }
    .LogoWhatsapp{
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        /* transition: all 1s; */
        animation-name: logo_whatsapp;
        animation-iteration-count: 4;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
        animation-delay: 0;
        box-shadow: 5px;
    }
    footer{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-items: center;
        width: 100%;
        font-size: 12px;
    }
    #logoprincipal{
        width: 100%;
        padding: 10px;
        margin-left: 20px;
    }
    .Footer .LogosRedes .LogoInstagram {
        width: 22px;
    }
}




